html,
body,
#root,
#root > div {
	background-color: #f9dfdd;
}

body{
	height: 100vh;
}

#root {
	height: 100vh;
}


#root .form-container {
	background-color: #F8AD9D;
}

.form-container  div {
	color: #1b1b1b;
}
.form-container a {
	color: #133d5a;
}
.navbar {
	background-color: #F4978E;
}
.navbar i {
	color: rgb(39, 39, 39);
}
.navbar-brand {
	text-decoration: dashed;
}

.rnc__base{
	width: auto !important;
}

/*-- Navbar --*/
.nav-list-pokemon .nav-item:hover {
	background-color: #724642;
	border-radius: 5%;
	cursor: pointer;
}
.nav-list-pokemon .nav-item a {
	color: rgb(39, 39, 39);
}

.nav-list-pokemon .nav-item:has(> .active) {
	background-color: #a66661;
}

/*-- Profile Page --*/
.profileComponent {
	height: 40em;
	width: 70%;
}

/* -- Pokedex Cards -- */
.pokemonCard{
	border: 1px solid black;
}